---
layout: default
---
<!--====== BANNER PART START ======-->

<section class="banner-area-2 d-flex align-items-center bg_cover" style="background-image: url(/assets/images/banner-2.1.jpg);">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-12">
    			<div class="banner-flex d-flex justify-content-between align-items-center">
    				<div class="banner-content">
    					<h1 class="title">It Service &  Solutions</h1>
    					<p>Avoids pleasure itself, because it is pleasure, but because those who  not know how pursue pleasure rationally encounter conse.</p>
						<ul>
							<li><a class="main-btn" href="#">Discover More</a></li>
							<li><a href="#">Get Started <i class="fal fa-long-arrow-right"></i></a></li>
						</ul>
    				</div>
    				<div class="banner-play d-none d-md-block">
    					<a class="video-popup" href="https://www.youtube.com/watch?v=xyCIXXs6ZCM"><i class="fal fa-play"></i></a>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</section>

<!--====== BANNER PART ENDS ======-->


<!--====== FEATURES 2 PART START ======-->

<section class="featires-2-area">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2 class="title">Perfect Solution Makes  <span>Explore Our <span>Features</span></span></h2>
                    <p>Something knows About Our Company</p>
                </div>
            </div>
            <div class="col-lg-6">
            	<div class="title-text">
            		<p>Again is there anyone who loves or pursues or desires to obtain pain of itself,  because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some  advantage from it?</p>
            	</div>
            </div>
        </div>
        <div class="row justify-content-center pb-130">
        	<div class="col-lg-3 col-md-6 col-sm-7">
        		<div class="featires-item mt-30 wow fadeIn animated" data-wow-duration="1500ms" data-wow-delay="0ms">
        			<div class="featires-thumb">
        				<img src="/assets/images/features-1.jpg" alt="post">
        			</div>
        			<div class="featires-content">
        				<i class="fal fa-lock-open-alt"></i>
        				<h4 class="title">High Power Security Systems</h4>
        				<a href="#">Read More <i class="fal fa-long-arrow-right"></i></a>
        			</div>
        		</div>
        	</div>
        	<div class="col-lg-3 col-md-6 col-sm-7">
        		<div class="featires-item mt-30 item-2 wow fadeIn animated" data-wow-duration="1500ms" data-wow-delay="300ms">
        			<div class="featires-thumb">
        				<img src="/assets/images/features-2.jpg" alt="post">
        			</div>
        			<div class="featires-content">
        				<i class="fal fa-layer-plus"></i>
        				<h4 class="title">Business Plan Strategy</h4>
        				<a href="#">Read More <i class="fal fa-long-arrow-right"></i></a>
        			</div>
        		</div>
        	</div>
        	<div class="col-lg-3 col-md-6 col-sm-7">
        		<div class="featires-item mt-30 item-3 wow fadeIn animated" data-wow-duration="1500ms" data-wow-delay="600ms">
        			<div class="featires-thumb">
        				<img src="/assets/images/features-3.jpg" alt="post">
        			</div>
        			<div class="featires-content">
        				<i class="fal fa-globe-stand"></i>
        				<h4 class="title">Product Development</h4>
        				<a href="#">Read More <i class="fal fa-long-arrow-right"></i></a>
        			</div>
        		</div>
        	</div>
        	<div class="col-lg-3 col-md-6 col-sm-7">
        		<div class="featires-item mt-30 item-4 wow fadeIn animated" data-wow-duration="1500ms" data-wow-delay="900ms">
        			<div class="featires-thumb">
        				<img src="/assets/images/features-4.jpg" alt="post">
        			</div>
        			<div class="featires-content">
        				<i class="fal fa-fingerprint"></i>
        				<h4 class="title">Web Security Solutions</h4>
        				<a href="#">Read More <i class="fal fa-long-arrow-right"></i></a>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</section> 

<!--====== FEATURES 2 PART ENDS ======-->


<!--====== SERVICES PART START ======-->

<section class="services-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="title">What We Do <span>Our Latest <span> Services</span></span></h2>
                    <p>Something knows About Our Cases</p>
                </div>
            </div>
        </div>
        <div class="row services-active">
        	<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">Web Design <br> And Development</h3>
        			<i class="fal fa-laptop-code"></i>
        			<p>Avoids pleasure itself, because it is pleasure but because</p>
        			<a href="#">Read More <i class="fal fa-long-arrow-right"></i></a>
        		</div>
        	</div>
        	<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">User Product <br> Design Strategy</h3>
        			<i class="fal fa-umbrella-beach"></i>
        			<p>Avoids pleasure itself, because it is pleasure but because</p>
        			<a href="#">Read More <i class="fal fa-long-arrow-right"></i></a>
        		</div>
        	</div>
        	<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">High Server <br> Security Solutions</h3>
        			<i class="fal fa-server"></i>
        			<p>Avoids pleasure itself, because it is pleasure but because</p>
        			<a href="#">Read More <i class="fal fa-long-arrow-right"></i></a>
        		</div>
        	</div>
        	<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">High Server <br> Security Solutions</h3>
        			<i class="fal fa-server"></i>
        			<p>Avoids pleasure itself, because it is pleasure but because</p>
        			<a href="#">Read More <i class="fal fa-long-arrow-right"></i></a>
        		</div>
        	</div>
        </div>
    </div>
</section> 

<!--====== SERVICES PART ENDS ======-->

<!--====== TEAM 2 PART START ======-->

<section class="team-2-area">
    <div class="container">
        <div class="row ">
            <div class="col-lg-5">
                <div class="section-title mt-45">
                    <h2 class="title">Our Team <br> <span>Meet <span>The Team</span></span></h2>
                    <p>Something knows About Team</p>
                    <p class="text">But we must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself</p>
                    <a class="main-btn" href="team.html">View All Member</a>
                </div>
            </div>
            <div class="col-lg-7">
            	<div class="row justify-content-center">
            		<div class="col-lg-6 col-md-6 col-sm-8">
            			<div class="team-item mt-60">
            				<div class="team-thumb">
            					<img src="/assets/images/team-2.1.png" alt="postteam">
            					<ul>
            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
            						<li><a href="#"><i class="fab fa-google"></i></a></li>
            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            					</ul>
            				</div>
            				<div class="team-content text-center">
            					<h3 class="title">Frank M. Perez</h3>
            					<span>Senior IT Specialist</span>
            				</div>
            			</div>
            		</div>
            		<div class="col-lg-6 col-md-6 col-sm-8">
            			<div class="team-item mt-60">
            				<div class="team-thumb">
            					<img src="/assets/images/team-2.2.png" alt="postteam">
            					<ul>
            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
            						<li><a href="#"><i class="fab fa-google"></i></a></li>
            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            					</ul>
            				</div>
            				<div class="team-content text-center">
            					<h3 class="title">Marsha C. Wood</h3>
            					<span>Web Developer</span>
            				</div>
            			</div>
            		</div>
            		<div class="col-lg-6 col-md-6 col-sm-8">
            			<div class="team-item mt-45">
            				<div class="team-thumb">
            					<img src="/assets/images/team-2.3.png" alt="postteam">
            					<ul>
            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
            						<li><a href="#"><i class="fab fa-google"></i></a></li>
            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            					</ul>
            				</div>
            				<div class="team-content text-center">
            					<h3 class="title">Kim M. McCabe</h3>
            					<span>Product Designer</span>
            				</div>
            			</div>
            		</div>
            		<div class="col-lg-6 col-md-6 col-sm-8">
            			<div class="team-item mt-45">
            				<div class="team-thumb">
            					<img src="/assets/images/team-2.4.png" alt="postteam">
            					<ul>
            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
            						<li><a href="#"><i class="fab fa-google"></i></a></li>
            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            					</ul>
            				</div>
            				<div class="team-content text-center">
            					<h3 class="title">Dexter H. Wilson</h3>
            					<span>CEO & Founder</span>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</section> 

<!--====== TEAM 2 PART ENDS ======-->

<!--====== COUNTER PART START ======-->

<section class="counter-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
            	<div class="counter-play mr-70">
            		<img src="/assets/images/counter-play.jpg" alt="post">
            		<a class="video-popup" href="https://www.youtube.com/watch?v=KewfYKJy8YU"><i class="fas fa-play"></i></a>
            	</div>
            </div>
            <div class="col-lg-7">
            	<div class="row">
            		<div class="col-md-6">
            			<div class="counter-item">
            				<i class="fal fa-users"></i>
            				<h3 class="title counter">5896314</h3>
            				<span>Saticfied Clients</span>
            			</div>
            			<div class="counter-item mt-60">
            				<i class="fal fa-hat-santa"></i>
            				<h3 class="title counter">96314</h3>
            				<span>Business Partner</span>
            			</div>
            		</div>
            		<div class="col-md-6">
            			<div class="counter-item">
            				<i class="fal fa-users"></i>
            				<h3 class="title counter">5896314</h3>
            				<span>Saticfied Clients</span>
            			</div>
            			<div class="counter-item mt-60">
            				<i class="fal fa-trophy-alt">post</i>
            				<h3 class="title counter">7631475</h3>
            				<span>Win Awards</span>
            			</div>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</section> 

<!--====== COUNTER PART ENDS ======-->

<!--====== PROJECT 2 PART START ======-->

<section class="project-2-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="title">Project Done <span>Latest <span>Case Study</span></span></h2>
                    <p>Something knows About Our Cases</p>
                </div>
            </div>
        </div>
        <div class="row no-gutters justify-content-center">
        	<div class="col-lg-4 col-md-7 col-sm-9">
        		<div class="project-item mt-30 wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="0ms">
        			<img src="/assets/images/services-1.jpg" alt="post">
        			<div class="project-content text-center">
        				<h3 class="title">Creative Idea</h3>
        				<span>Design Gude</span>
        				<p>Avoids pleasu itself cause it is pleasure but beca those who do not know how</p>
        				<a href="#">Read More <i class="fal fa-long-arrow-right"></i></a>
        			</div>
        		</div>
        	</div>
        	<div class="col-lg-4 col-md-7 col-sm-9">
        		<div class="project-item active mt-30 wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="300ms">
        			<img src="/assets/images/services-2.jpg" alt="post">
        			<div class="project-content text-center">
        				<h3 class="title">Business Meet</h3>
        				<span>Consulting Agency</span>
        				<p>Avoids pleasu itself cause it is pleasure but beca those who do not know how</p>
        				<a href="#">Read More <i class="fal fa-long-arrow-right"></i></a>
        			</div>
        		</div>
        	</div>
        	<div class="col-lg-4 col-md-7 col-sm-9">
        		<div class="project-item mt-30 wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="600ms">
        			<img src="/assets/images/services-3.jpg" alt="post">
        			<div class="project-content text-center">
        				<h3 class="title">Goals Business</h3>
        				<span>Mission Success</span>
        				<p>Avoids pleasu itself cause it is pleasure but beca those who do not know how</p>
        				<a href="#">Read More <i class="fal fa-long-arrow-right"></i></a>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</section> 

<!--====== PROJECT 2 PART ENDS ======-->

<!--====== TESTIMONIALS 2 PART START ======-->

<section class="testimonials-2-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-title">
                    <h2 class="title">Testimonials <span>Client’s <span> Say</span></span></h2>
                    <p>Something knows About Team</p>
                    <p class="text">Must explain to you how all this mistaken idea of denouncing pleasure and</p>
                    <a class="main-btn" href="faq.html">View More Review</a>
                </div>
            </div>
            <div class="col-lg-8">
            	<div class="row testinonials-2-active">
            		<div class="col-lg-6">
            			<div class="testimonials-item white-bg mt-15">
            				<div class="testimonials-info">
            					<img src="/assets/images/testimonial-user-1.png" alt="post">
            					<h6 class="title">Malissa R. Dallas</h6>
            					<span>CEO & Founder</span>
            				</div>
            				<div class="testimonials-content">
            					<p>Avoids pleasure itself because pleasure but because those who do not know how pursue pleasure rationally encoeq ueces that are extremely painful. Nor again is there anyone who loves pursues</p>
            				</div>
	                        <div class="star d-flex justify-content-start">
	                            <span>(</span>
	                            <ul>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                            </ul>
	                            <span>)</span>
	                        </div>
	                        <div class="quote">
	                        	<i class="fal fa-quote-right"></i>
	                        </div>
            			</div>
            		</div>
            		<div class="col-lg-6">
            			<div class="testimonials-item white-bg mt-15">
            				<div class="testimonials-info">
            					<img src="/assets/images/testimonial-user-2.png" alt="post">
            					<h6 class="title">Terry A. Konrad</h6>
            					<span>Web Designer</span>
            				</div>
            				<div class="testimonials-content">
            					<p>Avoids pleasure itself because pleasure but because those who do not know how pursue pleasure rationally encoeq ueces that are extremely painful. Nor again is there anyone who loves pursues</p>
            				</div>
	                        <div class="star d-flex justify-content-start">
	                            <span>(</span>
	                            <ul>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                            </ul>
	                            <span>)</span>
	                        </div>
	                        <div class="quote">
	                        	<i class="fal fa-quote-right"></i>
	                        </div>
            			</div>
            		</div>
            		<div class="col-lg-6">
            			<div class="testimonials-item white-bg mt-15">
            				<div class="testimonials-info">
            					<img src="/assets/images/testimonial-user-2.png" alt="post">
            					<h6 class="title">Terry A. Konrad</h6>
            					<span>Web Designer</span>
            				</div>
            				<div class="testimonials-content">
            					<p>Avoids pleasure itself because pleasure but because those who do not know how pursue pleasure rationally encoeq ueces that are extremely painful. Nor again is there anyone who loves pursues</p>
            				</div>
	                        <div class="star d-flex justify-content-start">
	                            <span>(</span>
	                            <ul>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                            </ul>
	                            <span>)</span>
	                        </div>
	                        <div class="quote">
	                        	<i class="fal fa-quote-right"></i>
	                        </div>
            			</div>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</section> 

<!--====== TESTIMONIALS 2 PART ENDS ======-->

<!--====== FAQ PART START ======-->

<section class="faq-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2 class="title"> Ask Questions <br> <span>Freequently <span>Asked Questions</span></span></h2>
                    <p>Something knows About Our Cases</p>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-6">
        		<div class="row">
        			<div class="col-md-6 col-sm-6">
        				<div class="faq-thumb mt-30">
        					<img src="/assets/images/faq-1.jpg" alt="post">
        				</div>
        				<div class="faq-thumb mt-30">
        					<img src="/assets/images/faq-2.jpg" alt="post">
        				</div>
        			</div>
        			<div class="col-md-6 col-sm-6">
        				<div class="faq-thumb mt-60">
        					<img src="/assets/images/faq-3.jpg" alt="post">
        				</div>
        				<div class="faq-content mt-30 text-center">
        					<h4 class="title">Need A Job?</h4>
        					<p>Which is the same saying through shrinki from</p>
        					<a class="main-btn" href="faq.html">Join Us</a>
        				</div>
        			</div>
        		</div>
        	</div>
        	<div class="col-lg-6">
                <div class="faq-accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="card wow fadeInRight animated" data-wow-duration="1000ms" data-wow-delay="0ms">
                            <div class="card-header" id="headingOne">
                                <a class="" href="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    On Failures And Meet Smashing ?
                                </a>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu santium doloremqu laudantium totam rem aperiam eaque ipsa squ ae illo inventore veritatis et quasi architecto </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card wow fadeInRight animated" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="card-header" id="headingTwo">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Working Together Designers & Developers ?
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu santium doloremqu laudantium totam rem aperiam eaque ipsa squ ae illo inventore veritatis et quasi architecto </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card wow fadeInRight animated" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="card-header" id="headingThree">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Sharing Code Between Projects Lessons ?
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu santium doloremqu laudantium totam rem aperiam eaque ipsa squ ae illo inventore veritatis et quasi architecto </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card wow fadeInRight animated" data-wow-duration="1000ms" data-wow-delay="900ms">
                            <div class="card-header" id="headingFour">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Measuring Websites Mobile Optimization ?
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu santium doloremqu laudantium totam rem aperiam eaque ipsa squ ae illo inventore veritatis et quasi architecto </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card wow fadeInRight animated" data-wow-duration="1000ms" data-wow-delay="1200ms">
                            <div class="card-header" id="headingFive">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Embarking New Adventures Inspiring ?
                                </a>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu santium doloremqu laudantium totam rem aperiam eaque ipsa squ ae illo inventore veritatis et quasi architecto </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                    </div>
                </div> <!-- faq accordion -->
        	</div>
        </div>
    </div>
</section> 

<!--====== FAQ PART ENDS ======-->

<!--====== BLOG 2 PART START ======-->

<section class="blog-area-2 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2 class="title">Latest Post  <br> <span>Popular <span> News & Blog</span></span></h2>
                    <p>Something knows About Our Cases</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
          {% for post in site.posts limit: "3" %}
        	<div class="col-lg-4 col-md-7 col-sm-9">
        		<div class="blog-item mt-30 wow fadeIn animated" data-wow-duration="1500ms" data-wow-delay="0ms">
        			<img class="height-360" src="{{post.post_image}}" alt="{{post.title}}"/>
        			<div class="blog-overlay">
        				<div class="blog-tag">
        					<span>{{post.categories | limit: "1"}}</span>
        				</div>
        				<div class="blog-content">
        					<ul>
                                {% if post.author %}
        						 <li><i class="fal fa-user"></i> {{post.author}}</li>
                                {% endif %}
                                {% if post.date %}
        						 <li><i class="fal fa-calendar-alt"></i> {{post.date | date_to_long_string}}</li>
                                {% endif %}
        					</ul>
        					<h4 class="title"><a href="{{post.url}}">{{post.title}}</a></h4>
        					<p>{{post.excerpt | strip_html | truncatewords: "10"}}</p>
        					<a href="{{post.url}}">View Details <i class="fal fa-long-arrow-right"></i></a>
        				</div>
        			</div>
        		</div>
        	</div>
          {% endfor %}
        </div>
    </div>
</section> 

<!--====== BLOG 2 PART ENDS ======-->


