    <!--====== ABOUT PART START ======-->

    <section class="about-area pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <img src="{{site.baseurl}}/assets/images/2-girl-bible.jpg" alt="Photo by Ben White on Unsplash">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title">上帝的事工需要<span> <span>你們的支持</span></span></h3>
                        <span>懇請一同參與我們的事工</span>
                        <h3>郵政劃撥：31577111 </h3>
                        <h3>戶名：台南市阿爾法兒童讀經協會</h3>
                        <p/>
                        <h3>808 （玉山銀行）帳號：0152940011318</h3>
                        <ul>
                            <li><a class="main-btn " href="http://www.101superweb.com/web/tainanalpha">線上奉獻</a></li>
<!--                            <li><a class="" href="#">Let’s Get Started <i class="fal fa-long-arrow-right"></i></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->