    <!--====== ABOUT PART START ======-->

    <section class="about-area mt-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <img src="{{site.baseurl}}/assets/images/boy-on-stage.jpg" loading="lazy" >
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title">讀經的事工需要<span> <span>你們的支持</span></span></h3>
                        <span>懇請以禱告、奉獻托住我們的事工</span>
                        <h3>808 （玉山銀行）0152940011318</h3>
                        <a class="main-btn " href="{{site.donation_url}}" target="_blank">線上奉獻</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->