    <!--====== ABOUT PART START ======-->

    <section class="about-area pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <img src="{{relative_url}}/assets/images/about-thumb.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title">Perfect Solution Makes <span>A Successful <span>History</span></span></h3>
                        <span>Something knows About Our Company</span>
                        <p>Again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?</p>
                        <ul>
                            <li><a class="main-btn " href="about-us.html">Learn More</a></li>
                            <li><a class="" href="#">Let’s Get Started <i class="fal fa-long-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->