    <!--====== BRAND PART START ======-->

    <div class="brand-area pb-130">
        <div class="container">
            <div class="row brand-active">
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/barand-1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/barand-2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/barand-3.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/barand-4.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/barand-5.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/barand-6.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/barand-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== BRAND PART ENDS ======-->