    <!--====== REQUEST QUOTE PART START ======-->

    <section class="requst-quote-area bg_cover pt-115" style="background-image: url({{relative_url}}/assets/images/requst-quote-bg.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="requst-content text-center">
                        <span>Get A Quote</span>
                        <h2 class="title">Free Consultations</h2>
                        <a class="main-btn-2 main-btn" href="#">Requst A Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="newaletter-area">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-12">
                    <div class="newaletter-item d-sm-flex d-block">
                        <div class="newaletter-content d-flex align-items-center">
                            <div class="item pl-70">
                                <span>Newsletter</span>
                                <h4 class="title">Subscribe</h4>
                            </div>
                        </div>
                        <div class="newaletter-input d-sm-flex d-block justify-content-center align-items-center">
                            <input type="email" placeholder="Enter your email">
                            <button class="main-btn">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== REQUEST QUOTE PART ENDS ======-->