    <!--====== QUOTE PART START ======-->

    <section class="quote-area pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="quote-thumb">
                        <img src="{{relative_url}}/assets/images/quote-thumb.png" alt="quote">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="quote-content">
                        <h3 class="title">Get A Quote <br> <span>Free <span>Consultations</span></span></h3>
                        <form action="#">
                            <div class="input-box mt-25">
                                <label for="#">Full Name Here</label>
                                <input type="text" placeholder="Omar D. Kuebler">
                                <i class="fal fa-user"></i>
                            </div>
                            <div class="input-box mt-25">
                                <label for="#">I Would Like To Discuss</label>
                                <input type="text" placeholder="I’m Talking About">
                                <i class="fal fa-file"></i>
                            </div>
                            <div class="input-box mt-25">
                                <label for="#">Leave A Message</label>
                                <textarea name="#" id="#" cols="30" rows="10" placeholder="Write Message"></textarea>
                                <i class="fal fa-pen-alt"></i>
                            </div>
                            <div class="submit-btn text-right mt-20">
                                <button type="submit" class="main-btn">Send Mesage</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== QUOTE PART ENDS ======-->