<section class="pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2>奉獻滿$1000 即贈送經文馬克杯與杯墊</h2>
            </div>
            <div class="col-lg-8">
                <img src="{{site.baseurl}}/assets/images/杯子.png" loading="lazy">
            </div>
            <div class="col-lg-4">
                <img src="{{site.baseurl}}/assets/images/杯墊.png" loading="lazy">
            </div>
        </div>
    </div>
</section>