    <!--====== FEATURES PART START ======-->

    <section class="features-area pb-130 bg_cover" style="background-image: url({{relative_url}}/assets/images/features-bg.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title section-title-2  text-center">
                        <h2 class="title">We Offer IT Solutions <span>Safe And <span>Sustainable</span></span></h2>
                        <p>Something knows About Our Features</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="features-item text-center white-bg mt-30 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="0ms">
                        <i class="fal fa-lock-open-alt"></i>
                        <h4 class="title">High Power Security Systems</h4>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="features-item text-center white-bg mt-30 item-2 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="300ms">
                        <i class="fal fa-layer-plus"></i>
                        <h4 class="title">UX/UI Design Strategy</h4>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="features-item text-center white-bg mt-30 item-3 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="600ms">
                        <i class="fal fa-globe-stand"></i>
                        <h4 class="title">Product Development</h4>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="features-item text-center white-bg mt-30 item-4 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="900ms">
                        <i class="fal fa-fingerprint"></i>
                        <h4 class="title">Web Security Solutions</h4>
                        <a href="services-details.html">Read More <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== FEATURES PART ENDS ======-->