
    <!--====== FOOTER 3 PART START ======-->
   
    <footer class="footer-3-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="footer-item-1 mt-30">
                        <img src="assets/images/logo-2.png" alt="logo">
                        <p>Avoids pleasure itself, because it is pleasure, but because those who do not know ways.</p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="footer-item-2 mt-30">
                        <h4 class="title">Quick Links</h4>
                        <div class="links-list">
                            <ul>
                                <li><a href="#">Latest Services</a></li>
                                <li><a href="#">Need A Career ?</a></li>
                                <li><a href="#">Meet The Team</a></li>
                                <li><a href="#">Setting & Privacy</a></li>
                                <li><a href="#">Case Study</a></li>
                                <li><a href="#">Company Fact</a></li>
                            </ul>
                            <ul class="ml-45">
                                <li><a href="#">Our History</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Web Security</a></li>
                                <li><a href="#">Domain & Hosting</a></li>
                                <li><a href="#">Server System</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-8">
                    <div class="footer-item-2 footer-item-3 mt-30">
                        <h4 class="title">Quick Links</h4>
                        <p>But must explain to you how this mistaken idea denouncing pleasure praising</p>
                        <form action="#">
                            <div class="input-box">
                                <input type="email" placeholder="Enter Email Address">
                                <button type="button"><i class="far fa-paper-plane"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row pb-85">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-info mt-80">
                        <i class="fal fa-map-marker-alt"></i>
                        <h5 class="title">Address</h5>
                        <span>25 Middle Strees, USA</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-info mt-80">
                        <i class="fal fa-envelope-open"></i>
                        <h5 class="title">Email Us</h5>
                        <span>supportinfo@gmail.com</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-info mt-80">
                        <i class="fal fa-phone"></i>
                        <h5 class="title">Contact Us</h5>
                        <span>+012 (3456) 789 99</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-info mt-80">
                        <i class="fal fa-clock"></i>
                        <h5 class="title">Opening Hour</h5>
                        <span>Sun - Friday , 10 am - 8 pm</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy text-center">
                        <p>Copyright ©2019. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer> 

    <!--====== FOOTER 3 PART ENDS ======-->



    <!--====== BACK TO TOP PART ENDS ======-->

    <div class="back-top back-top-2">
        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <!--====== BACK TO TOP PART ENDS ======-->