<!--====== BANNER PART START ======-->

<section class="banner-area">
<div class="banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-9">
                <div class="banner-content">
                    <h1 class="title wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1s">Technologist & IT <span>Solutions <span>Agency</span></span> </h1>
                    <span class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1.5s">For Startup Business</span>
                    <p class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2s">Avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter conse.</p>
                    <ul class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2.6s" >
                        <li><a class="main-btn" href="#">Discover More</a></li>
                        <li><a class="main-btn main-btn-2" href="#">Read More</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-shape-1">
</div>
<div class="banner-shape-2">
    <img src="{{relative_url}}/assets/images/banner-shape-1.png" alt="">
</div>
<div class="banner-shape-3">
    <img src="{{relative_url}}/assets/images/banner-shape-2.png" alt="">
</div>
</section>

<!--====== BANNER PART ENDS ======-->