<!--====== BANNER PART START ======-->

<section class="banner-area">
<div class="banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-9">
                <div class="banner-content">
                    <h1 class="title wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1s">
                        推廣聖經讀經教育
                        <span>
                            <span>倡導百遍讀經</span>
                        </span>
                    </h1>
                    <span class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1.5s">於兒童、家庭、教會、社會大眾</span>
                    <p class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2s">
                        申命記第六章6到9節：「我今日所吩咐你的話都要記在心上，也要殷勤教訓你的兒女，無論你坐在家裡行在路上， 躺下， 起來， 都要談論， 也要繫在手上為記號， 戴在額上為經文; 又要寫在你房屋的門框上， 並你的城門上」
                    </p>
                    <ul class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2.6s" >
                        <li><a class="main-btn" href="https://bit.ly/%E9%98%BF%E7%88%BE%E6%B3%95%E7%B4%A2%E6%9B%B8%E8%A1%A8%E5%96%AE?fbclid=IwAR14CULggXUOT6b1QIqGMlY4Y4kloVR7W2Zt1uyt4ATICB9PFy-OUcjaWwM">索取聖經朗讀本</a></li>
                        <li><a class="main-btn main-btn-2" href="#">了解百遍讀經</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="banner-shape-1">-->
<!--</div>-->
<div class="banner-shape-2">
    <i class="fas fa-bible"></i>
</div>
<!--<div class="banner-shape-3">-->
<!--    <img src="{{site.baseurl}}/assets/images/banner-shape-2.png" alt="">-->
<!--</div>-->
</section>

<!--====== BANNER PART ENDS ======-->