{% include header-background.html %}
<section class="banner-area page-title bg_cover">
    <div class="banner-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content">
                        <h3 class="title text-capitalize">{{page.title}}</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{site.url}}">首頁</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{page.title | truncatewords: "4"}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>