    <!--====== PROJECT PART START ======-->

    <section class="project-case-area project-home pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title"> <span><span>主要事工</span></span></h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="{{site.baseurl}}/assets/images/books/創世記（上）-s.jpg" alt="">
                            <i class="fal fa-bible"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="{{site.baseurl}}/assets/images/project-shadow.png" alt="">
                            <h4 class="title">出版聖經朗讀本與工具</h4>
                            <span>適合孩童與銀髮族的大字注音版</span>
                            <p>我們致力於出版各種聖經朗讀本，特點是字體大、附注音、紙質較厚，孩子不易翻破</p>
                            <a href="#">詳細介紹 <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="{{site.baseurl}}/assets/images/project/2018聖經朗誦比賽.jpg" alt="">
                            <i class="fal fa-cross"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="{{site.baseurl}}/assets/images/project-shadow.png" alt="">
                            <h4 class="title">聖經朗誦節</h4>
                            <span>一年一度聖經朗誦比賽</span>
                            <p>不論哪個年齡都可以參加</p>
                            <a href="#">詳細介紹 <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="{{site.baseurl}}/assets/images/last-supper2.jpg" alt="">
                            <i class="fal fa-star-of-david"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="{{site.baseurl}}/assets/images/project-shadow.png" alt="">
                            <h4 class="title">神國教育論壇</h4>
                            <span>猶太裔柏偉志牧師聖經講座</span>
                            <p></p>
                            <a href="#">詳細介紹 <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== PROJECT PART START ======-->