    <!--====== PROJECT PART START ======-->

    <section class="project-case-area project-home pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title"> <span><span>主要事工</span></span></h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for project in site.data.projects %}
                    {% assign url = "/pages/" | append: {{project.name}} %}
                    {% if project.url %}
                        {% assign url = project.url %}
                    {% endif %}

                    {% assign image = "/assets/images/project/" | append: {{project.name}} | append: ".jpg" %}
                    {% if project.image %}
                        {% assign image = project.image %}
                    {% endif %}
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <a href="{{site.baseurl}}{{url}}"><img src="{{site.baseurl}}{{image}}" alt="" loading="lazy"></a>
                            <i class="fal {{project.icon}}"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="{{site.baseurl}}/assets/images/project-shadow.png" alt="" loading="lazy">
                            <a href="{{site.baseurl}}{{url}}"><h4 class="title">{{project.name}}</h4></a><br/>
                            <span>{{project.abstract}}</span>
                            <p>{{project.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!--====== PROJECT PART START ======-->
