    <!--====== PROJECT PART START ======-->

    <section class="project-case-area project-home pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title">Project Done <span>Latest <span>Case Study</span></span></h2>
                        <p>Something knows About Our Cases</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="{{relative_url}}/assets/images/project/project-3.jpg" alt="">
                            <i class="fal fa-stars"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="{{relative_url}}/assets/images/project-shadow.png" alt="">
                            <h4 class="title">Events IT Solutions</h4>
                            <span>Important Of IT Services In Business</span>
                            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how</p>
                            <a href="#">View Details <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="{{relative_url}}/assets/images/project/project-4.jpg" alt="">
                            <i class="fal fa-stars"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="{{relative_url}}/assets/images/project-shadow.png" alt="">
                            <h4 class="title">Cyber Security</h4>
                            <span>Important Of IT Services In Business</span>
                            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how</p>
                            <a href="#">View Details <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="{{relative_url}}/assets/images/project/project-5.jpg" alt="">
                            <i class="fal fa-stars"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="{{relative_url}}/assets/images/project-shadow.png" alt="">
                            <h4 class="title">Product Design</h4>
                            <span>Important Of IT Services In Business</span>
                            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how</p>
                            <a href="#">View Details <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== PROJECT PART START ======-->