    {% include analytics.html %}
    <script src="{{site.baseurl}}/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/slick.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.magnific-popup.min.js"></script>
    <!--
        <script src="{{site.baseurl}}/assets/js/waypoints.min.js"></script>
        <script src="{{site.baseurl}}/assets/js/popper.min.js"></script>
        <script src="{{site.baseurl}}/assets/js/jquery.counterup.min.js"></script>
        <script src="{{site.baseurl}}/assets/js/jquery.nice-select.min.js"></script>
        <script src="{{site.baseurl}}/assets/js/ion.rangeSlider.min.js"></script>
        <script src="{{site.baseurl}}/assets/js/ajax-contact.js"></script>
    -->
    <script src="{{site.baseurl}}/assets/js/wow.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
    <!-- 訂閱電子報 mailchimp -->
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/61b992c4f43b060db6dd615b9/fb3a0fe197fba42a7ab963678.js");</script>