    <script src="{{relative_url}}/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="{{relative_url}}/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="{{relative_url}}/assets/js/bootstrap.min.js"></script>
    <script src="{{relative_url}}/assets/js/popper.min.js"></script>
    <script src="{{relative_url}}/assets/js/slick.min.js"></script>
    <script src="{{relative_url}}/assets/js/jquery.counterup.min.js"></script>
    <script src="{{relative_url}}/assets/js/jquery.nice-select.min.js"></script>
    <script src="{{relative_url}}/assets/js/waypoints.min.js"></script>
    <script src="{{relative_url}}/assets/js/ion.rangeSlider.min.js"></script>
    <script src="{{relative_url}}/assets/js/wow.min.js"></script>
    <script src="{{relative_url}}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{relative_url}}/assets/js/ajax-contact.js"></script>
    <script src="{{relative_url}}/assets/js/main.js"></script>