    <!--====== TEAM PART START ======-->

    <section class="team-area pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="team-title">
                        <h3 class="title">Expert Team <br> <span>Meet <span>Our Expert’s</span></span></h3>
                        <span>Something knows About Team</span>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row team-active">
                        <div class="col-lg-6">
                            <div class="team-item">
                                <img src="{{relative_url}}/assets/images/team-1.jpg" alt="team">
                                <div class="team-overlay">
                                    <div class="team-contet text-center">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                        <h5 class="title">Rufus A. Morales</h5>
                                        <span>Product Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="team-item">
                                <img src="{{relative_url}}/assets/images/team-2.jpg" alt="team">
                                <div class="team-overlay">
                                    <div class="team-contet text-center">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                        <h5 class="title">Rufus A. Morales</h5>
                                        <span>Product Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="team-item">
                                <img src="{{relative_url}}/assets/images/team-1.jpg" alt="team">
                                <div class="team-overlay">
                                    <div class="team-contet text-center">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                        <h5 class="title">Rufus A. Morales</h5>
                                        <span>Product Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== TEAM PART ENDS ======-->