    <!--====== TESTIMONIALS PART START ======-->

    <section class="testimonial-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title">How We Works <span>Working <span>Process</span></span></h2>
                        <p>knows About Our Customer Say</p>
                    </div>
                </div>
            </div>
            <div class="row testinonials-active">
                <div class="col-lg-4">
                    <div class="testimonial-item white-bg text-center mt-70">
                        <img src="{{relative_url}}/assets/images/testimonial-1.jpg" alt="testimonial">
                        <div class="star d-flex justify-content-center">
                            <span>(</span>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <span>)</span>
                        </div>
                        <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
                        <h6 class="title">Malissa R. Dallas</h6>
                        <i class="fal fa-quote-right"></i>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item white-bg text-center mt-70">
                        <img src="{{relative_url}}/assets/images/testimonial-2.jpg" alt="testimonial">
                        <div class="star d-flex justify-content-center">
                            <span>(</span>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <span>)</span>
                        </div>
                        <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
                        <h6 class="title">Malissa R. Dallas</h6>
                        <i class="fal fa-quote-right"></i>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item white-bg text-center mt-70">
                        <img src="{{relative_url}}/assets/images/testimonial-3.jpg" alt="testimonial">
                        <div class="star d-flex justify-content-center">
                            <span>(</span>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <span>)</span>
                        </div>
                        <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
                        <h6 class="title">Malissa R. Dallas</h6>
                        <i class="fal fa-quote-right"></i>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item white-bg text-center mt-70">
                        <img src="{{relative_url}}/assets/images/testimonial-4.jpg" alt="testimonial">
                        <div class="star d-flex justify-content-center">
                            <span>(</span>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <span>)</span>
                        </div>
                        <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
                        <h6 class="title">Malissa R. Dallas</h6>
                        <i class="fal fa-quote-right"></i>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item white-bg text-center mt-70">
                        <img src="{{relative_url}}/assets/images/testimonial-5.jpg" alt="testimonial">
                        <div class="star d-flex justify-content-center">
                            <span>(</span>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <span>)</span>
                        </div>
                        <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
                        <h6 class="title">Malissa R. Dallas</h6>
                        <i class="fal fa-quote-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== TESTIMONIALS PART ENDS ======-->