// Font Family

$poppins: 'Poppins', sans-serif;


// Colors ---------------
$white: #fff;

$black: #222;

$grey:#eef3f9;

$theme-color: #0154f7;

$theme-color-2: #f86e03;

$theme-color-3: #fc5546;

$body-text: #8a8a8a;

$border-color:#ddd;


// Heading Color
$heading-color: #404040;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


