---
layout: default
header_image: "/assets/images/team_header.jpg"
title: "第七屆理監事"
---

{% include page_header.html %}

<section class="team-2-area about-team team-page">
    <div class="container">
        <div class="row justify-content-center">
            {% for director in site.data.directors %}
            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="team-item mt-40">
                    <div class="team-thumb">
                        <img src="{{site.baseurl}}/assets/images/headshot/{{director.name}}.png" alt="{{director.name}}">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
<!--
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
-->
                        </ul>
                    </div>
                    <div class="team-content text-center">
                        <h3 class="title">{{director.name}}</h3>
                        <span>{{director.description}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
<!--
        <div class="row">
            <div class="col-lg-12">
                <div class="team-btn text-center mt-55">
                    <a class="main-btn" href="#">View All Member</a>
                </div>
            </div>
        </div>
 -->
    </div>
</section> 

