---
layout: default
post_image: "/assets/images/books/publication-background.jpg"
title: "出版品"
---

{% include page_header.html %}

<section class="case-study-area pb-130 case-page-1">
    <div class="container">
        <div class="row">
            <div class=" col-md-1 col-xs-1">
                {% include request_book_button.html %}
            </div>
        </div>
        <div class="row justify-content-center">
        {% for book in site.data.books %}
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="case-item mt-30">
                    <div class="case-thumb">
                        <a href="{{site.baseurl}}/pages/{{book.name}}"><img src="{{site.baseurl}}/assets/images/books/{{book.name}}-s.jpg" alt="{{book.name}}">
                        </a>
                    </div>
                    <div class="case-content white-bg">
                        <h4 class="title">{{book.name}}</h4>
                        <p>{{book.description}}</p>
                        <a href="{{site.baseurl}}/pages/{{book.name}}">詳細說明 <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section> 
