---
layout: default
header_image: "west-wall"
---

{% include page_header.html %}
<section class="blog-standard-area blog-details-area pt-20 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="blog-standard mt-30">
                    <div class="blog-item">
                        <div class="blog-content white-bg ">
                         {{content}}
                        </div>
                    </div>
                    <div class="blog-sharing d-block d-sm-flex justify-content-between">
<!--
                        <div class="blog-tag">
                            <ul>
                                <li><span>Popular Tag : </span></li>
                                <li><a href="#">IT Services,</a></li>
                                <li><a href="#">Technology,</a></li>
                                <li><a href="#">Services</a></li>
                            </ul>
                        </div>
-->
                        {% include social_share.html %}
                    </div>
                    <div class="blog-story">
                        <div class="row">
                            <div class="col-lg-6">
                                    {% if page.next.url %}
                                <div class="blog-story-1 blog-story-1">
                                    <h4 class="title"><a class="prev text-white" href="{{site.baseurl}}{{page.next.url}}"><i class="fas fa-arrow-circle-left"></i> {{page.next.title}}</a></h4>
                                </div>
                                    {% endif %}
                            </div>
                            <div class="col-lg-6">
                                    {% if page.previous.url %}
                                <div class="blog-story-1">
                                    <h4 class="title">
                                        <a class="prev text-white" href="{{site.baseurl}}{{page.previous.url}}">{{page.previous.title}}
                                            <i class="fas fa-arrow-circle-right"></i></a>
                                    </h4>
                                </div>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
<!--
                    <div class="blog-massage">
                        <div id="disqus_thread"></div>
						<script>

						var disqus_config = function () {
						this.page.url = '{{site.url}}{{page.url}}';
						this.page.identifier = '{{page.url}}';
						};
						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://cloven.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
						})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </div>
-->
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
              {% include sidebar.html %}
            </div>
        </div>
    </div>
</section> 
